.page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.input-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  mat-form-field {
    width: 45%;
    // is the only child
    &:first-child:last-child {
      justify-self: flex-start;
    }
  }
}
